/* ----------------Refine Search-------------------*/
*{
    font-family: sans-serif;
}

body{
    margin: auto;
}

form{
    margin: auto; 
}

.filter-container{
    display: block;
    margin: 20px auto;
   
}
fieldset{
    border-radius: 20px;
    background-color: rgba(221, 221, 221, 0.294);
    margin: 50px auto;
    box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.671);
    text-align: center;
    border-color:  rgba(221, 221, 221, 0.294);
    width: 50%;
}

input{
    margin: 20px auto;
}

label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ----------------End Refine Search-------------------*/